<html>
  <head>
		{% if attributeId == 'bill' %}
		<title>Enter Bill Of Entry Number</title>
		{% elif attributeId == 'chaJobNo' %}
		<title>Enter CHA Job No</title>
		{% else %}
		<title>Enter Custom Duty Amt</title>
		{% endif %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
 
<div id="billEntry">

		{% if attributeId == 'bill' %}
		<h1>Enter Bill Of Entry Number</h1>
		{% elif attributeId == 'chaJobNo' %}
		<h1>Enter CHA Job No</h1>
		{% else %}
		<h1>Enter Custom Duty Amt</h1>
		{% endif %}

  	<form action="/updateAPI/cha/{{objectId}}/{{attributeId}}", method="POST">
  		<input type="text" id="chaDetails" name="chaDetails" required>
  		<input type="submit" id="send" name="send" onclick="closeThisForGood()" value="CONFIRM">
  	</form>
</div>

<div id="finalText" style="display: none">
	
<h1>Data has been recorded successfully!</h1>

<h2>REFRESH the main page to update the data</h2>

<h4>You can safely close this window.</h4>

</div>

<script type="text/javascript">
	
function closeThisForGood() {
	document.getElementById("billEntry").style.display = 'none';
	document.getElementById("finalText").style.display = 'inline';
	parent.enteredText = document.getElementById("chaDetails").value;
  parent.cookidator.html(parent.enteredText);
  parent.cookidator.removeClass();
  parent.cookidator.removeAttr("data-href");
}

</script>

  </body>
</html>