<!DOCTYPE html>
<html>
<head>
	<title>JLG | Job Client Database</title>
</head>
<body>

	<h1>New Client Entry</h1>

	<a href="/">BACK</a>

	<br><br>


	<form action="/clientdb" method="POST">
		<label for="clientName">Client Name :</label>
		<input id="clientName" name="clientName" type="text">
		<br>

		<label for="jobBelong">Job Owner :</label>
		
		<select id="jobBelong" name="jobBelong">
			<option disabled selected value> -- select an option -- </option>
			{% for job in jobBelongs %}
  			<option value="{{job['compName']}}">{{job['compName']}}</option>
  			{% endfor %}
  		</select>

  		<br>

  		<label for="clientAddress1">Client Address 1 :</label>
  		<input type="text" id="clientAddress1" name="clientAddress1">
  		<br>

  		<label for="clientAddress2">Client Address 2 :</label>
  		<input type="text" id="clientAddress2" name="clientAddress2">
  		<br>

  		<label for="clientAddress3">Client Address 3 :</label>
  		<input type="text" id="clientAddress2" name="clientAddress3">
  		<br>

  		<label for="gstin">GSTIN :</label>
  		<input type="text" id="gstin" name="gstin">
  		<br>

  		<label for="mobile">Mobile No :</label>
  		<input type="text" id="mobile" name="mobile">
		  <br>
		  
  		<label for="email">Email ID :</label>
  		<input type="email" id="email" name="email">
  		<br>

		<button type="submit">Submit</button>
	</form>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

	$(function(){
		$('select[name="jobOwn"]').change(function(){

			{% for job in allJobs %}
			{% for key, value in job.items() %}

				// console.log($('#jobOwn').val())
				if('{{key}}' == $('#jobOwn').val()) {
					$('#jobProfit').val('{{value}}');
				}

			{% endfor %}
			{% endfor %}
		});
	});
</script>

</html>