<!DOCTYPE html>
<html>
<head>
	<title>JLG | Job Execution Database [{{what}}]</title>

<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'><link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'><link rel='stylesheet' href='//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>
<style class="cp-pen-styles"></style>
<link rel="stylesheet" href="https://fengyuanchen.github.io/datepicker/css/datepicker.css">
<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/wenzhixin/bootstrap-table-fixed-columns/master/bootstrap-table-fixed-columns.css">

<style type="text/css">
	
	.xyz {
		display: table-cell;
	}

</style>

<style type="text/css">
	
	.yay {
		background-color: #3EA62A; 
		border-color: #130269; 
	}

	.nay {
		background-color: #D6283F; 
  		border-color: #130269; 
	}

</style>

<style type="text/css">

.btn-violet { 
  color: #ffffff; 
  background-color: #611BBD; 
  border-color: #130269; 
}  

.btn-grey { 
  color: #ffffff; 
  background-color: #4B4480; 
  border-color: #130269;
} 

</style>

<style type="text/css">

thead {
	overflow-y: auto;
	overflow-x: auto;
	background-color:white;
}

tbody {
    height: 800px;
    overflow-y: auto;
    overflow-x: auto;
}

</style>

<style type="text/css">
	
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

</style>

</head>
<body>

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">JLG Operations</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a>→</a></li>
      <li><a href="/exec">Job Execution Status</a></li>
      <li><a>→</a></li>
      <li class="active"><a>{{what}} Jobs</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    	<li><a>
    	{% if user == '' %}
    	Not Logged In
    	{% else %}
    	{{user}}
    	{% endif %}
    </a></li>
    </ul>
  </div>
</nav> 

<br><br><br>

	<center>
	<p class="text-primary">
	<button id="shipping1" class="btn btn-lg">Shipping 1st Part</button>
	<button id="custom" class="btn btn-lg">Custom Part</button>
	<button id="dock" class="btn btn-lg">Dock Part</button>
	<button id="delv" class="btn btn-lg">Client Delv</button>
	<button id="shipping2" class="btn btn-lg">Shipping 2nd Part</button><br><br>

	<button id="showcomplete" class="btn btn-lg">Show Complete {{what}} Table</button>

	{% with messages = get_flashed_messages() %}
	   {% if messages %}
	      {% for message in messages %}
	      	 <br>
	         <h1 style="color: red;">{{ message }}</h1>
	      {% endfor %}
	   {% endif %}
	{% endwith %}

	</p>
	</center>
	<hr>

	<div class="container">

	<div id="toolbar">
		<select class="form-control">
				<option value="all">Export All</option>
				<option value="selected">Export Selected</option>
		</select>
	</div>

	{% if allExec %}
		<table id="table" border="1" align="center"
			 data-toggle="table"
			 data-search="true"
			 data-show-columns="true"
			 data-filter-control="true"
			 data-pagination="true" 
			 data-height="800"
			 data-show-export="true"
			 data-toolbar="#toolbar"
			 data-response-handler="responseHandler"
       		 class="table-responsive">
       	<thead>
		<tr>
			<th data-field="state" data-checkbox="true"></th>

			<th data-field="slno" data-filter-control="input" data-sortable="true" id="slno">Sl No</th>

			<th data-field="jobno1" data-filter-control="input" data-sortable="true">JayLGCPL Job No</th>

			<th data-field="jobno2" data-filter-control="input" data-sortable="true">JLG&Co Job No</th>

			<th data-field="jobopen" data-filter-control="input" data-sortable="true">Job Open Date</th>

			<th data-field="clientname" data-filter-control="input" data-sortable="true">Client Name</th>

			<th data-field="bondready" data-filter-control="input" data-sortable="true">Bond cte. Ready</th>

			<th data-field="dobill" data-filter-control="input" data-sortable="true">DO Bill Received</th>

			<th data-field="doready" data-filter-control="input" data-sortable="true">DO Ready</th>

			<th data-field="shipping1over" data-filter-control="input" data-sortable="true">Shipping 1st Part Over</th>

			<th data-field="befilled" data-filter-control="input" data-sortable="true">BE Filed</th>

			<th data-field="bereleased" data-filter-control="input" data-sortable="true">BE Released</th>

			<th data-field="dutypaid" data-filter-control="input" data-sortable="true">Duty Paid</th>

			<th data-field="customover" data-filter-control="input" data-sortable="true">Custom Part Over</th>

			<th data-field="cfsover" data-filter-control="input" data-sortable="true">CFS/Doc Assess Over</th>

			<th data-field="cargorel" data-filter-control="input" data-sortable="true">Cargo Released</th>

			<th data-field="dockover" data-filter-control="input" data-sortable="true">Dock Part Over</th>

			<th data-field="cargotruck" data-filter-control="input" data-sortable="true">Cargo shift to truck</th>

			<th data-field="delvclient" data-filter-control="input" data-sortable="true">Delivery at client space</th>

			<th data-field="delvover" data-filter-control="input" data-sortable="true">Client Delv Over</th>

			<th data-field="slotextn" data-filter-control="input" data-sortable="true">Slot Extn if required</th>

			<th data-field="emptydep" data-filter-control="input" data-sortable="true">Empty Deposit</th>

			<th data-field="shipping2over" data-filter-control="input" data-sortable="true">Shipping 2nd Part Over</th>

			<th data-field="jobComplete" data-filter-control="input" data-sortable="true">Job Complete</th>

			<th data-field="bill1" data-filter-control="input" data-sortable="true">Bill 1</th>

			<th data-field="bill2" data-filter-control="input" data-sortable="true">Bill 2</th>

			{% if what == 'Closed' %}
			<th data-field="jobCompleteDate" data-filter-control="input" data-sortable="true">Job Close Date</th>
			{% endif %}

		</tr>
	</thead>
		<tbody>
		{% for client in allExec %}
		<tr>
		   <td class="bs-checkbox "><input data-index="{{loop.index0 + 1}}" name="btSelectItem" type="checkbox"></td>
		   <td style="text-align:center;" class="serialNumber">{{loop.index0 + 1}}</td>
		   <td style="text-align:center;" class="j1">{{client['jobno1']}}</td>
		   <td style="text-align:center;" class="j2">{{client['jobno2']}}</td>
		   <td style="text-align:center;" class="j3">{{client['jobopen']}}</td>
		   <td style="text-align:center;" class="j4">{{client['clientname']}}</td>

		   {% if permissions[0] != 'null' %}

			   {% if client['bondready'] == "" %}
			   <td class="xyz btn btn-primary btn-block clickable-cell" data-href='/updateAPI/{{myKeys[loop.index0]}}/bondready'>✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['bondready']}}</td>
			   {% endif %}

			   {% if client['dobill'] == "" %}
			   <td class="xyz btn btn-primary btn-block clickable-cell" data-href='/updateAPI/{{myKeys[loop.index0]}}/dobill'>✅ Done</td>
			   {% else %}
			   <td style="text-align:center;">{{client['dobill']}}</td>
			   {% endif %}

			   {% if client['doready'] == "" %}
			   <td class="xyz btn btn-primary btn-block clickable-cell" data-href='/updateAPI/{{myKeys[loop.index0]}}/doready'>✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['doready']}}</td>
			   {% endif %}

		   {% else %}

			   {% if client['bondready'] == "" %}
			   <td class="xyz btn btn-primary btn-block">✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['bondready']}}</td>
			   {% endif %}

			   {% if client['dobill'] == "" %}
			   <td class="xyz btn btn-primary btn-block">✅ Done</td>
			   {% else %}
			   <td style="text-align:center;">{{client['dobill']}}</td>
			   {% endif %}

			   {% if client['doready'] == "" %}
			   <td class="xyz btn btn-primary btn-block">✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['doready']}}</td>
			   {% endif %}

		   {% endif %}

		   <td style="text-align:center;" class="j5">{{client['shipping1over']}}</td>

		   {% if permissions[1] != 'null' %}

			   {% if client['befilled'] == "" %}
			   <td class="xyz btn btn-info btn-block clickable-cell" data-href='/updateAPI/{{myKeys[loop.index0]}}/befilled'>✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['befilled']}}</td>
			   {% endif %}

			   {% if client['bereleased'] == "" %}
			   <td class="xyz btn btn-info btn-block clickable-cell" data-href='/updateAPI/{{myKeys[loop.index0]}}/bereleased'>✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['bereleased']}}</td>
			   {% endif %}

			   {% if client['dutypaid'] == "" %}
			   <td class="xyz btn btn-info btn-block clickable-cell" data-href='/updateAPI/{{myKeys[loop.index0]}}/dutypaid'>✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['dutypaid']}}</td>
			   {% endif %}
			
			{% else %}

			   {% if client['befilled'] == "" %}
			   <td class="xyz btn btn-info btn-block">✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['befilled']}}</td>
			   {% endif %}

			   {% if client['bereleased'] == "" %}
			   <td class="xyz btn btn-info btn-block">✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['bereleased']}}</td>
			   {% endif %}

			   {% if client['dutypaid'] == "" %}
			   <td class="xyz btn btn-info btn-block">✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['dutypaid']}}</td>
			   {% endif %}
			
			{% endif %}

		   <td style="text-align:center;" class="j6">{{client['customover']}}</td>

		   {% if permissions[2] != 'null' %}

			   {% if client['cfsover'] == "" %}
			   <td class="xyz btn btn-warning btn-block clickable-cell" data-href='/updateAPI/{{myKeys[loop.index0]}}/cfsover'>✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['cfsover']}}</td>
			   {% endif %}

			   {% if client['cargorel'] == "" %}
			   <td class="xyz btn btn-warning btn-block clickable-cell" data-href='/updateAPI/{{myKeys[loop.index0]}}/cargorel'>✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['cargorel']}}</td>
			   {% endif %}

			{% else %}

			   {% if client['cfsover'] == "" %}
			   <td class="xyz btn btn-warning btn-block">✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['cfsover']}}</td>
			   {% endif %}
			
			   {% if client['cargorel'] == "" %}
			   <td class="xyz btn btn-warning btn-block">✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['cargorel']}}</td>
			   {% endif %}

			{% endif %}

		   <td style="text-align:center;" class="j7">{{client['dockover']}}</td>

		   {% if permissions[3] != 'null' %}

			   {% if client['cargotruck'] == "" %}
			   <td class="xyz btn btn-grey btn-block clickable-cell" data-href='/updateAPI/{{myKeys[loop.index0]}}/cargotruck'>✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['cargotruck']}}</td>
			   {% endif %}

			   {% if client['delvclient'] == "" %}
			   <td class="xyz btn btn-grey btn-block clickable-cell" data-href='/updateAPI/{{myKeys[loop.index0]}}/delvclient'>✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['delvclient']}}</td>
			   {% endif %}

		   {% else %}

			   {% if client['cargotruck'] == "" %}
			   <td class="xyz btn btn-grey btn-block">✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['cargotruck']}}</td>
			   {% endif %}
			
			   {% if client['delvclient'] == "" %}
			   <td class="xyz btn btn-grey btn-block">✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['delvclient']}}</td>
			   {% endif %}		   

		   {% endif %}

		   <td style="text-align:center;" class="j8">{{client['delvover']}}</td>

		   {% if permissions[4] != 'null' %}

			   {% if client['slotextn'] == "" %}
			   <td class="xyz btn btn-violet btn-block clickable-cell" data-href='/updateAPI/{{myKeys[loop.index0]}}/slotextn'>✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['slotextn']}}</td>
			   {% endif %}

			   {% if client['emptydep'] == "" %}
			   <td class="xyz btn btn-violet btn-block clickable-cell" data-href='/updateAPI/{{myKeys[loop.index0]}}/emptydep'>✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['emptydep']}}</td>
			   {% endif %}

		   {% else %}

			   {% if client['slotextn'] == "" %}
			   <td class="xyz btn btn-violet btn-block">✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['slotextn']}}</td>
			   {% endif %}
			
			   {% if client['emptydep'] == "" %}
			   <td class="xyz btn btn-violet btn-block">✅ Done</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['emptydep']}}</td>
			   {% endif %}

		   {% endif %}

		   <td style="text-align:center;" class="j8">{{client['shipping2over']}}</td>

		   {% if client['jobComplete'] == 'no' %}
		   <td style="text-align:center;" class="nay j8">{{client['jobComplete']}}</td>
		   {% else %}
		   <td style="text-align:center;" class="yay j8">{{client['jobComplete']}}</td>
		   {% endif %}

		   <!--need to give the permissions here-->

    	{% if user == '' %}

    	<td style="text-align:center;">{{client['bill1']}}</td>
    	<td style="text-align:center;">{{client['bill2']}}</td>
    	
    	{% else %}

			   {% if client['bill1'] == "" %}
			   <td class="xyz btn btn-violet btn-block openable-cell" data-href='/updateAPI/bill/{{myKeys[loop.index0]}}/bill1'>🖋 Bill</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['bill1']}}</td>
			   {% endif %}

			   {% if client['bill2'] == "" %}
			   <td class="xyz btn btn-violet btn-block openable-cell" data-href='/updateAPI/bill/{{myKeys[loop.index0]}}/bill2'>🖋 Bill</td>
			   {% else %}
			   	<td style="text-align:center;">{{client['bill2']}}</td>
			   {% endif %}

    	{% endif %}

		   {% if what == 'Closed' %}
		   <td style="text-align:center;">{{client['jobCloseDate']}}</td>
		   {% endif %}

		</tr>
		{% endfor %}
		</tbody>
		</table>
	{% endif %}

	</div>

	<br><br>

</body>

<script src='//static.codepen.io/assets/common/stopExecutionOnTimeout-41c52890748cd7143004e05d3c5f786c66b19939c4500ce446314d1748483e13.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js'></script><script src='//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>

<script type="text/javascript">
	
$('#table').on('all.bs.table', function () {
    console.log('new filter');

    $(".clickable-cell").click(function() {
        window.location = $(this).data("href");
    });

    $(".openable-cell").click(function() {
        window.open ($(this).data("href"),"mywindow","menubar=1,resizable=1,width=350,height=250");
    });
    
});

</script>

<script type="text/javascript">
	//exporte les données sélectionnées
var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });

            $(".clickable-cell").click(function() {
        		window.location = $(this).data("href");
    		});

            $(".openable-cell").click(function() {
        		window.open ($(this).data("href"),"mywindow","menubar=1,resizable=1,width=350,height=250");
    		});

        });
        $('#toolbar')
    })

		var trBoldBlue = $("table");

	$(trBoldBlue).on("click", "tr", function (){
			$(this).toggleClass("bold-blue");
	});
</script>


<script type="text/javascript">
	
	$(function() {
      $("#shipping1").click( function()
           {
           	showMeAll();
             $('#table').bootstrapTable('hideColumn', "befilled");
             $('#table').bootstrapTable('hideColumn', "bereleased");
             $('#table').bootstrapTable('hideColumn', "dutypaid");
             $('#table').bootstrapTable('hideColumn', "customover");
             $('#table').bootstrapTable('hideColumn', "cfsover");
             $('#table').bootstrapTable('hideColumn', "cargorel");
             $('#table').bootstrapTable('hideColumn', "dockover");
             $('#table').bootstrapTable('hideColumn', "cargotruck");
             $('#table').bootstrapTable('hideColumn', "delvclient");
             $('#table').bootstrapTable('hideColumn', "delvover");
             $('#table').bootstrapTable('hideColumn', "slotextn");
             $('#table').bootstrapTable('hideColumn', "emptydep");
             $('#table').bootstrapTable('hideColumn', "shipping2over");  

             $(".clickable-cell").click(function() {
        		window.location = $(this).data("href");
    		 });

             $(".openable-cell").click(function() {
        		window.open ($(this).data("href"),"mywindow","menubar=1,resizable=1,width=350,height=250");
    		 });


           }
      );
	});

	$(function() {
      $("#custom").click( function()
           {
           	showMeAll();
             $('#table').bootstrapTable('hideColumn', "bondready");
             $('#table').bootstrapTable('hideColumn', "dobill");
             $('#table').bootstrapTable('hideColumn', "doready");
             $('#table').bootstrapTable('hideColumn', "shipping1over");
             $('#table').bootstrapTable('hideColumn', "cfsover");
             $('#table').bootstrapTable('hideColumn', "cargorel");
             $('#table').bootstrapTable('hideColumn', "dockover");
             $('#table').bootstrapTable('hideColumn', "cargotruck");
             $('#table').bootstrapTable('hideColumn', "delvclient");
             $('#table').bootstrapTable('hideColumn', "delvover");
             $('#table').bootstrapTable('hideColumn', "slotextn");
             $('#table').bootstrapTable('hideColumn', "emptydep");
             $('#table').bootstrapTable('hideColumn', "shipping2over");

             $(".clickable-cell").click(function() {
        		window.location = $(this).data("href");
    		 });

             $(".openable-cell").click(function() {
        		window.open ($(this).data("href"),"mywindow","menubar=1,resizable=1,width=350,height=250");
    		 });


           }
      );
	});

	$(function() {
      $("#dock").click( function()
           {
           	showMeAll();
             $('#table').bootstrapTable('hideColumn', "bondready");
             $('#table').bootstrapTable('hideColumn', "dobill");
             $('#table').bootstrapTable('hideColumn', "doready");
             $('#table').bootstrapTable('hideColumn', "shipping1over");
             $('#table').bootstrapTable('hideColumn', "befilled");
             $('#table').bootstrapTable('hideColumn', "bereleased");
             $('#table').bootstrapTable('hideColumn', "dutypaid");
             $('#table').bootstrapTable('hideColumn', "customover");
             $('#table').bootstrapTable('hideColumn', "cargotruck");
             $('#table').bootstrapTable('hideColumn', "delvclient");
             $('#table').bootstrapTable('hideColumn', "delvover");
             $('#table').bootstrapTable('hideColumn', "slotextn");
             $('#table').bootstrapTable('hideColumn', "emptydep");
             $('#table').bootstrapTable('hideColumn', "shipping2over");

             $(".clickable-cell").click(function() {
        		window.location = $(this).data("href");
    		 });

             $(".openable-cell").click(function() {
        		window.open ($(this).data("href"),"mywindow","menubar=1,resizable=1,width=350,height=250");
    		 });        

           }
      );
  });

	$(function() {
      $("#delv").click( function()
           {
           	showMeAll();
             $('#table').bootstrapTable('hideColumn', "bondready");
             $('#table').bootstrapTable('hideColumn', "dobill");
             $('#table').bootstrapTable('hideColumn', "doready");
             $('#table').bootstrapTable('hideColumn', "shipping1over");
             $('#table').bootstrapTable('hideColumn', "befilled");
             $('#table').bootstrapTable('hideColumn', "bereleased");
             $('#table').bootstrapTable('hideColumn', "dutypaid");
             $('#table').bootstrapTable('hideColumn', "customover");
             $('#table').bootstrapTable('hideColumn', "cfsover");
             $('#table').bootstrapTable('hideColumn', "cargorel");
             $('#table').bootstrapTable('hideColumn', "dockover");
             $('#table').bootstrapTable('hideColumn', "slotextn");
             $('#table').bootstrapTable('hideColumn', "emptydep");
             $('#table').bootstrapTable('hideColumn', "shipping2over");

             $(".clickable-cell").click(function() {
        		window.location = $(this).data("href");
    		 });

             $(".openable-cell").click(function() {
        		window.open ($(this).data("href"),"mywindow","menubar=1,resizable=1,width=350,height=250");
    		 });

           }
      );
  });

	$(function() {
      $("#shipping2").click( function()
           {
           	showMeAll();
             $('#table').bootstrapTable('hideColumn', "bondready");
             $('#table').bootstrapTable('hideColumn', "dobill");
             $('#table').bootstrapTable('hideColumn', "doready");
             $('#table').bootstrapTable('hideColumn', "shipping1over");
             $('#table').bootstrapTable('hideColumn', "befilled");
             $('#table').bootstrapTable('hideColumn', "bereleased");
             $('#table').bootstrapTable('hideColumn', "dutypaid");
             $('#table').bootstrapTable('hideColumn', "customover");
             $('#table').bootstrapTable('hideColumn', "cfsover");
             $('#table').bootstrapTable('hideColumn', "cargorel");
             $('#table').bootstrapTable('hideColumn', "dockover");
             $('#table').bootstrapTable('hideColumn', "cargotruck");
             $('#table').bootstrapTable('hideColumn', "delvclient");
             $('#table').bootstrapTable('hideColumn', "delvover");

             $(".clickable-cell").click(function() {
        		window.location = $(this).data("href");
    		 });

             $(".openable-cell").click(function() {
        		window.open ($(this).data("href"),"mywindow","menubar=1,resizable=1,width=350,height=250");
    		 });

           }
      );
  });

	function showMeAll() {

             $('#table').bootstrapTable('showColumn', "bondready");
             $('#table').bootstrapTable('showColumn', "dobill");
             $('#table').bootstrapTable('showColumn', "doready");
             $('#table').bootstrapTable('showColumn', "shipping1over");
             $('#table').bootstrapTable('showColumn', "befilled");
             $('#table').bootstrapTable('showColumn', "bereleased");
             $('#table').bootstrapTable('showColumn', "dutypaid");
             $('#table').bootstrapTable('showColumn', "customover");
             $('#table').bootstrapTable('showColumn', "cfsover");
             $('#table').bootstrapTable('showColumn', "cargorel");
             $('#table').bootstrapTable('showColumn', "dockover");
             $('#table').bootstrapTable('showColumn', "cargotruck");
             $('#table').bootstrapTable('showColumn', "delvclient");
             $('#table').bootstrapTable('showColumn', "delvover");
             $('#table').bootstrapTable('showColumn', "slotextn");
             $('#table').bootstrapTable('showColumn', "emptydep");
             $('#table').bootstrapTable('showColumn', "shipping2over");

	}

	$(function() {
      $("#showcomplete").click( function()
           {
             showMeAll();

             $(".clickable-cell").click(function() {
        		window.location = $(this).data("href");
    		 });

             $(".openable-cell").click(function() {
        		window.open ($(this).data("href"),"mywindow","menubar=1,resizable=1,width=350,height=250");
    		 });

           }
      );
  });

</script>


<!--script type="text/javascript">
	async function demo() {
  console.log('Taking a break...');
  await sleep(2000);
  console.log('Two second later');
}

	console.log('doing')

	document.evaluate('/html/body/div[1]/div[1]/div[1]/div[2]/div[1]/ul/li[6]', document, null, XPathResult.ANY_TYPE, null).iterateNext().style.display = "none";
	document.evaluate('/html/body/div[1]/div[1]/div[1]/div[2]/div[1]/ul/li[7]', document, null, XPathResult.ANY_TYPE, null).iterateNext().style.display = "none";
	document.evaluate('/html/body/div[1]/div[1]/div[1]/div[2]/div[1]/ul/li[8]', document, null, XPathResult.ANY_TYPE, null).iterateNext().style.display = "none";
	document.evaluate('/html/body/div[1]/div[1]/div[1]/div[2]/div[1]/ul/li[10]', document, null, XPathResult.ANY_TYPE, null).iterateNext().style.display = "none";
	document.evaluate('/html/body/div[1]/div[1]/div[1]/div[2]/div[1]/ul/li[11]', document, null, XPathResult.ANY_TYPE, null).iterateNext().style.display = "none";
	document.evaluate('/html/body/div[1]/div[1]/div[1]/div[2]/div[1]/ul/li[12]', document, null, XPathResult.ANY_TYPE, null).iterateNext().style.display = "none";
	document.evaluate('/html/body/div[1]/div[1]/div[1]/div[2]/div[1]/ul/li[14]', document, null, XPathResult.ANY_TYPE, null).iterateNext().style.display = "none";
	document.evaluate('/html/body/div[1]/div[1]/div[1]/div[2]/div[1]/ul/li[15]', document, null, XPathResult.ANY_TYPE, null).iterateNext().style.display = "none";
	document.evaluate('/html/body/div[1]/div[1]/div[1]/div[2]/div[1]/ul/li[17]', document, null, XPathResult.ANY_TYPE, null).iterateNext().style.display = "none";
	document.evaluate('/html/body/div[1]/div[1]/div[1]/div[2]/div[1]/ul/li[18]', document, null, XPathResult.ANY_TYPE, null).iterateNext().style.display = "none";
	document.evaluate('/html/body/div[1]/div[1]/div[1]/div[2]/div[1]/ul/li[20]', document, null, XPathResult.ANY_TYPE, null).iterateNext().style.display = "none";
	document.evaluate('/html/body/div[1]/div[1]/div[1]/div[2]/div[1]/ul/li[21]', document, null, XPathResult.ANY_TYPE, null).iterateNext().style.display = "none";
</script-->

<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-table-fixed-columns.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.1.2/jquery.floatThead.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.1.2/jquery.floatThead.min.js"></script>
<script type="text/javascript" src="https://fengyuanchen.github.io/datepicker/js/datepicker.js"></script>
<script type="text/javascript" src="https://fengyuanchen.github.io/datepicker/js/datepicker.en-US.js"></script>
<script type="text/javascript" src="https://fengyuanchen.github.io/datepicker/js/main.js"></script>

<script type="text/javascript">
		
	jQuery(document).ready(function($) {

/*
	$('table.table').floatThead({
    responsiveContainer: function($table){
    	console.log('running');
        return $table.closest('.table-responsive');
    }
});
*/

    $(".clickable-cell").click(function() {
        window.location = $(this).data("href");
    });

    $(".openable-cell").click(function() {
        window.open ($(this).data("href"),"mywindow","menubar=1,resizable=1,width=350,height=250");
    });

});

</script>

</html>