<!DOCTYPE html>
<html>
<head>
	<title>JLG | Job Execution Database | Mass Data Entry</title>

<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'><link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'><link rel='stylesheet' href='//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>
<style class="cp-pen-styles"></style>
<link rel="stylesheet" href="https://fengyuanchen.github.io/datepicker/css/datepicker.css">
</head>
<body>

	<h1>Job Execution Database | Mass Data Entry</h1>

	<a href="/">BACK</a>
	<br><br>

	<br><br><hr>

	<div class="container">

	<div id="toolbar">
		<select class="form-control">
				<option value="all">Export All</option>
				<option value="selected">Export Selected</option>
		</select>
	</div>

	{% if allExec %}
		<table id="table" border="1" align="center"
			 data-toggle="table"
			 data-search="true"
			 data-filter-control="true" 
			 data-show-export="true"
			 data-click-to-select="true"
			 data-toolbar="#toolbar"
       		 class="table-responsive">
       	<thead>
		<tr>
			<th data-field="state" data-checkbox="true"></th>

			<th data-field="slno" data-filter-control="input" data-sortable="true" id="slno">Sl No</th>

			<th data-field="jobno1" data-filter-control="input" data-sortable="true">JayLGCPL Job No</th>

			<th data-field="jobno2" data-filter-control="input" data-sortable="true">JLG&Co Job No</th>

			<th data-field="jobopen" data-filter-control="input" data-sortable="true">Job Open Date</th>

			<th data-field="clientname" data-filter-control="input" data-sortable="true">Client Name</th>

			<th data-field="bondready" data-filter-control="input" data-sortable="true">Bond cte. Ready</th>

			<th data-field="dobill" data-filter-control="input" data-sortable="true">DO Bill Received</th>

			<th data-field="doready" data-filter-control="input" data-sortable="true">DO Ready</th>

			<th data-field="shipping1over" data-filter-control="input" data-sortable="true">Shipping 1st Part Over</th>

			<th data-field="befilled" data-filter-control="input" data-sortable="true">BE Filed</th>

			<th data-field="bereleased" data-filter-control="input" data-sortable="true">BE Released</th>

			<th data-field="dutypaid" data-filter-control="input" data-sortable="true">Duty Paid</th>

			<th data-field="customover" data-filter-control="input" data-sortable="true">Custom Part Over</th>

			<th data-field="cfsover" data-filter-control="input" data-sortable="true">CFS/Doc Assess Over</th>

			<th data-field="cargorel" data-filter-control="input" data-sortable="true">Cargo Released</th>

			<th data-field="dockover" data-filter-control="input" data-sortable="true">Dock Part Over</th>

			<th data-field="cargotruck" data-filter-control="input" data-sortable="true">Cargo shift to truck</th>

			<th data-field="delvclient" data-filter-control="input" data-sortable="true">Delivery at client space</th>

			<th data-field="delvover" data-filter-control="input" data-sortable="true">Client Delv Over</th>

			<th data-field="slotextn" data-filter-control="input" data-sortable="true">Slot Extn if required</th>

			<th data-field="emptydep" data-filter-control="input" data-sortable="true">Empty Deposit</th>

			<th data-field="shipping2over" data-filter-control="input" data-sortable="true">Shipping 2nd Part Over</th>

			<th data-field="jobComplete" data-filter-control="input" data-sortable="true">Job Complete</th>
		</tr>
	</thead>
		<tbody>
		{% for client in allExec %}
		<tr>
		   <td class="bs-checkbox "><input data-index="{{loop.index0 + 1}}" name="btSelectItem" type="checkbox"></td>
		   <td style="text-align:center;" class="serialNumber">{{loop.index0 + 1}}</td>
		   <td style="text-align:center;" class="j1">{{client['jobno1']}}</td>
		   <td style="text-align:center;" class="j2">{{client['jobno2']}}</td>
		   <td style="text-align:center;" class="j3">{{client['jobopen']}}</td>
		   <td style="text-align:center;" class="j4">{{client['clientname']}}</td>
		   <td style="text-align:center;" class="j5">{{client['bondready']}}</td>
		   <td style="text-align:center;" class="j5">{{client['dobill']}}</td>
		   <td style="text-align:center;" class="j5">{{client['doready']}}</td>
		   <td style="text-align:center;" class="j5">{{client['shipping1over']}}</td>
		   <td style="text-align:center;" class="j6">{{client['befilled']}}</td>
		   <td style="text-align:center;" class="j6">{{client['bereleased']}}</td>
		   <td style="text-align:center;" class="j6">{{client['dutypaid']}}</td>
		   <td style="text-align:center;" class="j6">{{client['customover']}}</td>
		   <td style="text-align:center;" class="j7">{{client['cfsover']}}</td>
		   <td style="text-align:center;" class="j7">{{client['cargorel']}}</td>
		   <td style="text-align:center;" class="j7">{{client['dockover']}}</td>
		   <td style="text-align:center;" class="j7">{{client['cargotruck']}}</td>
		   <td style="text-align:center;" class="j8">{{client['delvclient']}}</td>
		   <td style="text-align:center;" class="j8">{{client['delvover']}}</td>
		   <td style="text-align:center;" class="j8">{{client['slotextn']}}</td>
		   <td style="text-align:center;" class="j8">{{client['emptydep']}}</td>
		   <td style="text-align:center;" class="j8">{{client['shipping2over']}}</td>
		   <td style="text-align:center;" class="j8">{{client['jobComplete']}}</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	{% endif %}

	</div>

	<br><br>

	<div id="execApi">

	<form action="/execstatusdb" method="POST">
		<label for="jobno1">JayLGCPL Job No :</label>
		<input id="jobno1" name="jobno1" type="text">
		<br>

		<label for="jobno2">JLG&Co Job No :</label>
		<input id="jobno2" name="jobno2" type="text">
		<br>

		<label for="jobopen">Job Open Date :</label>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="jobopen" name="jobopen" placeholder="Job Open Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>

		<label for="clientname">Client Name :</label>
		<input type="text" id="clientname" name="clientname">
		<br>

		<!-- <label for="jobBelong">Job Belongs To :</label>
		
		<select id="jobBelong" name="jobBelong">
			<option disabled selected value> -- select an option -- </option>
			{% for job in jobBelongs %}
  			<option value="{{job['compName']}}">{{job['compName']}}</option>
  			{% endfor %}
  		</select>

  		<br>

		<label for="jobOwn">Job Owner :</label>
		
		<select id="jobOwn" name="jobOwn">
			<option disabled selected value> -- select an option -- </option>
			{% for job in allJobs %}
			{% for key, value in job.items() %}
  			<option value="{{key}}">{{key}}</option>
  			{% endfor %}
  			{% endfor %}
  		</select>

  		<br>

		<label for="jobProfit">Job Profit Centre :</label>
  		<input type="text" id="jobProfit" name="jobProfit" readonly="readonly">
  		<br> -->

  		<label for="bondready">Bond cte. Ready</label><br>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="bondready" name="bondready" placeholder="Bond cte. Ready Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>
  		<label for="dobill">DO Bill Received</label><br>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="dobill" name="dobill" placeholder="DO Bill Received Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>
  		<label for="doready">DO Ready</label><br>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="doready" name="doready" placeholder="DO Ready Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>
  		<label for="shipping1over">Shipping 1st Part Over</label>
  		<input type="text" id="shipping1over" name="shipping1over" value="no" readonly="readonly">
  		<br>
  		<hr>

  		<label for="befilled">BE Filed</label><br>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="befilled" name="befilled" placeholder="BE Filled Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>
  		<label for="bereleased">BE Released</label><br>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="bereleased" name="bereleased" placeholder="BE Released Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>
  		<label for="dutypaid">Duty Paid</label><br>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="dutypaid" name="dutypaid" placeholder="Duty Paid Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>
  		<label for="customover">Custom Part Over</label>
  		<input type="text" id="customover" name="customover" value="no" readonly="readonly">
  		<br>
  		<hr>

  		<label for="cfsover">CFS/Doc Assess Over</label><br>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="cfsover" name="cfsover" placeholder="CFS/Doc Assess Over Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>
  		<label for="cargorel">Cargo Released</label><br>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="cargorel" name="cargorel" placeholder="Cargo Released Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>
  		<label for="dockover">Dock Part Over</label>
  		<input type="text" id="dockover" name="dockover" value="no" readonly="readonly">
  		<br>
  		<hr>

  		<label for="cargotruck">Cargo shift to truck</label><br>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="cargotruck" name="cargotruck" placeholder="Cargo shift to truck Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>
  		<label for="delvclient">Delivery at client space</label><br>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="delvclient" name="delvclient" placeholder="Delivery at client space Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>
  		<label for="delvover">Client Delv Over</label>
  		<input type="text" id="delvover" name="delvover" value="no" readonly="readonly">
  		<br>
  		<hr>

  		<label for="slotextn">Slot Extn if required</label><br>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="slotextn" name="slotextn" placeholder="Slot Extn if required Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>
  		<label for="emptydep">Empty Deposit</label><br>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="emptydep" name="emptydep" placeholder="Empty Deposit Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>
  		<label for="shipping2over">Shipping 2nd Part Over</label>
  		<input type="text" id="shipping2over" name="shipping2over" value="no" readonly="readonly">
  		<br>
  		<hr>

		<button type="submit">Submit</button>
	</form>

	</div>

</body>

<script src='//static.codepen.io/assets/common/stopExecutionOnTimeout-41c52890748cd7143004e05d3c5f786c66b19939c4500ce446314d1748483e13.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js'></script><script src='//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>

<script type="text/javascript">
	//exporte les données sélectionnées
var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
        $('#toolbar')
    })

		var trBoldBlue = $("table");

	$(trBoldBlue).on("click", "tr", function (){
			$(this).toggleClass("bold-blue");
	});
</script>

<script type="text/javascript">

	$(function(){
		$('select[name="jobOwn"]').change(function(){

			{% for job in allJobs %}
			{% for key, value in job.items() %}

				// console.log($('#jobOwn').val())
				if('{{key}}' == $('#jobOwn').val()) {
					$('#jobProfit').val('{{value}}');
				}

			{% endfor %}
			{% endfor %}
		});
	});

	// ms1

	$(function(){
		$('input[type=text][name=bondready]').change(function(){
			if( $( 'input[name=bondready]' ).val() && $( 'input[name=dobill]' ).val() && $( 'input[name=doready]' ).val() ) {
	    				document.getElementById('shipping1over').value = 'yes';
	    			} else {
	    				document.getElementById('shipping1over').value = 'no';
	    			}
		});
	});

	$(function(){
		$('input[type=text][name=dobill]').change(function(){
			if( $( 'input[name=bondready]' ).val() && $( 'input[name=dobill]' ).val() && $( 'input[name=doready]' ).val() ) {
	    				document.getElementById('shipping1over').value = 'yes';
	    			} else {
	    				document.getElementById('shipping1over').value = 'no';
	    			}
		});
	});

	$(function(){
		$('input[type=text][name=doready]').change(function(){
			if( $( 'input[name=bondready]' ).val() && $( 'input[name=dobill]' ).val() && $( 'input[name=doready]' ).val() ) {
	    				document.getElementById('shipping1over').value = 'yes';
	    			} else {
	    				document.getElementById('shipping1over').value = 'no';
	    			}
		});
	});

	// ms1 end

	// ms2

	$(function(){
		$('input[type=text][name=befilled]').change(function(){
			if( $( 'input[name=befilled]' ).val() && $( 'input[name=bereleased]' ).val() && $( 'input[name=dutypaid]' ).val() ) {
	    				document.getElementById('customover').value = 'yes';
	    			} else {
	    				document.getElementById('customover').value = 'no';
	    			}
		});
	});

	$(function(){
		$('input[type=text][name=bereleased]').change(function(){
			if( $( 'input[name=befilled]' ).val() && $( 'input[name=bereleased]' ).val() && $( 'input[name=dutypaid]' ).val() ) {
	    				document.getElementById('customover').value = 'yes';
	    			} else {
	    				document.getElementById('customover').value = 'no';
	    			}
		});
	});

	$(function(){
		$('input[type=text][name=dutypaid]').change(function(){
			if( $( 'input[name=befilled]' ).val() && $( 'input[name=bereleased]' ).val() && $( 'input[name=dutypaid]' ).val() ) {
	    				document.getElementById('customover').value = 'yes';
	    			} else {
	    				document.getElementById('customover').value = 'no';
	    			}
		});
	});

	// ms2 end

	// ms3

	$(function(){
		$('input[type=text][name=cfsover]').change(function(){
			if( $( 'input[name=cfsover]' ).val() && $( 'input[name=cargorel]' ).val() ) {
	    				document.getElementById('dockover').value = 'yes';
	    			} else {
	    				document.getElementById('dockover').value = 'no';
	    			}
		});
	});

	$(function(){
		$('input[type=text][name=cargorel]').change(function(){
			if( $( 'input[name=cfsover]' ).val() && $( 'input[name=cargorel]' ).val() ) {
	    				document.getElementById('dockover').value = 'yes';
	    			} else {
	    				document.getElementById('dockover').value = 'no';
	    			}
		});
	});

	// ms3 end

	// ms4

	$(function(){
		$('input[type=text][name=cargotruck]').change(function(){
			if( $( 'input[name=cargotruck]' ).val() && $( 'input[name=delvclient]' ).val() ) {
	    				document.getElementById('delvover').value = 'yes';
	    			} else {
	    				document.getElementById('delvover').value = 'no';
	    			}
		});
	});

	$(function(){
		$('input[type=text][name=delvclient]').change(function(){
			if( $( 'input[name=cargotruck]' ).val() && $( 'input[name=delvclient]' ).val() ) {
	    				document.getElementById('delvover').value = 'yes';
	    			} else {
	    				document.getElementById('delvover').value = 'no';
	    			}
		});
	});

	// ms4 end

	// ms5

	$(function(){
		$('input[type=text][name=slotextn]').change(function(){
			if( $( 'input[name=cargotruck]' ).val() && $( 'input[name=emptydep]' ).val() ) {
	    				document.getElementById('shipping2over').value = 'yes';
	    			} else {
	    				document.getElementById('shipping2over').value = 'no';
	    			}
		});
	});

	$(function(){
		$('input[type=text][name=emptydep]').change(function(){
			if( $( 'input[name=slotextn]' ).val() && $( 'input[name=emptydep]' ).val() ) {
	    				document.getElementById('shipping2over').value = 'yes';
	    			} else {
	    				document.getElementById('shipping2over').value = 'no';
	    			}
		});
	});

	// ms5 end

</script>

<script type="text/javascript" src="https://fengyuanchen.github.io/datepicker/js/datepicker.js"></script>
<script type="text/javascript" src="https://fengyuanchen.github.io/datepicker/js/datepicker.en-US.js"></script>
<script type="text/javascript" src="https://fengyuanchen.github.io/datepicker/js/main.js"></script>

</html>