<!DOCTYPE html>
<html>
<head>
	<title>JLG | Job Execution Database</title>

<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'><link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'><link rel='stylesheet' href='//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>
<style class="cp-pen-styles"></style>
</head>
<body>

	<h1>Job Execution Database</h1>


	<br><br><hr>

	<div class="container">

	<div id="toolbar">
		<select class="form-control">
				<option value="all">Export All</option>
				<option value="selected">Export Selected</option>
		</select>
	</div>

	{% if allExec %}
		<table id="table" border="1" align="center"
			 data-toggle="table"
			 data-search="true"
			 data-filter-control="true" 
			 data-show-export="true"
			 data-click-to-select="true"
			 data-toolbar="#toolbar"
       		 class="table-responsive">
       	<thead>
		<tr>
			<th data-field="state" data-checkbox="true"></th>
			<th data-field="slno" data-filter-control="input" data-sortable="true" id="slno">Sl No</th>
			<th data-field="client" data-filter-control="input" data-sortable="true" id="client">Client Name</th>
			<th data-field="jobbel" data-filter-control="input" data-sortable="true" id="jobbel">Job belongs to</th>
			<th data-field="jobowner" data-filter-control="input" data-sortable="true" id="jobowner">Job Owner</th>
			<th data-field="jobprofitcentre" data-filter-control="input" data-sortable="true" id="jobprofitcentre">Job Profit Centre</th>
			<th data-field="ms1t" data-filter-control="input" data-sortable="true" id="ms1t">Milestone 1</th>
			<th data-field="ms1s1t" data-filter-control="input" data-sortable="true" id="ms1s1t">Milestone 1 - stage1</th>
			<th data-field="ms1s2t" data-filter-control="input" data-sortable="true" id="ms1s2t">Milestone 1 - stage2</th>
			<th data-field="ms1s3t" data-filter-control="input" data-sortable="true" id="ms1s3t">Milestone 1 - stage3</th>
			<th data-field="ms2t" data-filter-control="input" data-sortable="true" id="ms2t">Milestone 2</th>
			<th data-field="ms2s1t" data-filter-control="input" data-sortable="true" id="ms2s1t">Milestone 2 - stage1</th>
			<th data-field="ms2s2t" data-filter-control="input" data-sortable="true" id="ms2s2t">Milestone 2 - stage2</th>
			<th data-field="ms2s3t" data-filter-control="input" data-sortable="true" id="ms2s3t">Milestone 2 - stage3</th>
			<th data-field="ms3t" data-filter-control="input" data-sortable="true" id="ms3t">Milestone 3</th>
			<th data-field="ms3s1t" data-filter-control="input" data-sortable="true" id="ms3s1t">Milestone 3 - stage1</th>
			<th data-field="ms3s2t" data-filter-control="input" data-sortable="true" id="ms3s2t">Milestone 3 - stage2</th>
			<th data-field="ms3s3t" data-filter-control="input" data-sortable="true" id="ms3s3t">Milestone 3 - stage3</th>
			<th data-field="gstint" data-filter-control="input" data-sortable="true" id="gstint">GSTIN</th>
		</tr>
	</thead>
		<tbody>
		{% for client in allExec %}
		<tr>
		   <td class="bs-checkbox "><input data-index="{{loop.index0 + 1}}" name="btSelectItem" type="checkbox"></td>
		   <td style="text-align:center;" class="serialNumber">{{loop.index0 + 1}}</td>
		   <td style="text-align:center;" class="j1">{{client['clientName']}}</td>
		   <td style="text-align:center;" class="j2">{{client['jobBelong']}}</td>
		   <td style="text-align:center;" class="j3">{{client['jobOwn']}}</td>
		   <td style="text-align:center;" class="j4">{{client['jobProfit']}}</td>
		   <td style="text-align:center;" class="j5">{{client['ms1']}}</td>
		   <td style="text-align:center;" class="j5">{{client['ms1s1']}}</td>
		   <td style="text-align:center;" class="j5">{{client['ms1s2']}}</td>
		   <td style="text-align:center;" class="j5">{{client['ms1s3']}}</td>
		   <td style="text-align:center;" class="j6">{{client['ms2']}}</td>
		   <td style="text-align:center;" class="j6">{{client['ms2s1']}}</td>
		   <td style="text-align:center;" class="j6">{{client['ms2s2']}}</td>
		   <td style="text-align:center;" class="j6">{{client['ms2s3']}}</td>
		   <td style="text-align:center;" class="j7">{{client['ms3']}}</td>
		   <td style="text-align:center;" class="j7">{{client['ms3s1']}}</td>
		   <td style="text-align:center;" class="j7">{{client['ms3s2']}}</td>
		   <td style="text-align:center;" class="j7">{{client['ms3s3']}}</td>
		   <td style="text-align:center;" class="j8">{{client['gstin']}}</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	{% endif %}

	</div>

	<br><br>

	<form action="/execstatusdb" method="POST">
		<label for="clientName">Client Name :</label>
		<input id="clientName" name="clientName" type="text">
		<br>

		<label for="jobBelong">Job Belongs To :</label>
		
		<select id="jobBelong" name="jobBelong">
			<option disabled selected value> -- select an option -- </option>
			{% for job in jobBelongs %}
  			<option value="{{job['compName']}}">{{job['compName']}}</option>
  			{% endfor %}
  		</select>

  		<br>

		<label for="jobOwn">Job Owner :</label>
		
		<select id="jobOwn" name="jobOwn">
			<option disabled selected value> -- select an option -- </option>
			{% for job in allJobs %}
			{% for key, value in job.items() %}
  			<option value="{{key}}">{{key}}</option>
  			{% endfor %}
  			{% endfor %}
  		</select>

  		<br>

		<label for="jobProfit">Job Profit Centre :</label>
  		<input type="text" id="jobProfit" name="jobProfit" readonly="readonly">
  		<br>

  		<label for="ms1">MS1</label>
  		<input type="text" id="ms1" name="ms1" value="no" readonly="readonly">
  		<br>
  		<label for="ms1s1">MS1-stage1</label><br>
  		<input type="radio" name="ms1s1" id="ms1s1" value="no" checked> No<br>
  		<input type="radio" name="ms1s1" id="ms1s1" value="yes"> Yes<br>
  		<br>
  		<label for="ms1s2">MS1-stage2</label><br>
  		<input type="radio" name="ms1s2" id="ms1s2" value="no" checked> No<br>
  		<input type="radio" name="ms1s2" id="ms1s2" value="yes"> Yes<br>
  		<br>
  		<label for="ms1s3">MS1-stage3</label><br>
  		<input type="radio" name="ms1s3" id="ms1s3" value="no" checked> No<br>
  		<input type="radio" name="ms1s3" id="ms1s3" value="yes"> Yes<br>
  		<br>
  		<hr>

  		<label for="ms2">MS2</label>
  		<input type="text" id="ms2" name="ms2" value="no" readonly="readonly">
  		<br>
  		<label for="ms2s1">MS2-stage1</label><br>
  		<input type="radio" name="ms2s1" id="ms2s1" value="no" checked> No<br>
  		<input type="radio" name="ms2s1" id="ms2s1" value="yes"> Yes<br>
  		<br>
  		<label for="ms2s2">MS2-stage2</label><br>
  		<input type="radio" name="ms2s2" id="ms2s2" value="no" checked> No<br>
  		<input type="radio" name="ms2s2" id="ms2s2" value="yes"> Yes<br>
  		<br>
  		<label for="ms2s3">MS2-stage3</label><br>
  		<input type="radio" name="ms2s3" id="ms2s3" value="no" checked> No<br>
  		<input type="radio" name="ms2s3" id="ms2s3" value="yes"> Yes<br>
  		<br>
  		<hr>

  		<label for="ms3">MS3</label>
  		<input type="text" id="ms3" name="ms3" value="no" readonly="readonly">
  		<br>
  		<label for="ms1s1">MS3-stage1</label><br>
  		<input type="radio" name="ms3s1" id="ms3s1" value="no" checked> No<br>
  		<input type="radio" name="ms3s1" id="ms3s1" value="yes"> Yes<br>
  		<br>
  		<label for="ms1s2">MS3-stage2</label><br>
  		<input type="radio" name="ms3s2" id="ms3s2" value="no" checked> No<br>
  		<input type="radio" name="ms3s2" id="ms3s2" value="yes"> Yes<br>
  		<br>
  		<label for="ms1s3">MS3-stage3</label><br>
  		<input type="radio" name="ms3s3" id="ms3s3" value="no" checked> No<br>
  		<input type="radio" name="ms3s3" id="ms3s3" value="yes"> Yes<br>
  		<br>
  		<hr>

  		<label for="gstin">GSTIN :</label>
  		<input type="text" id="gstin" name="gstin">
  		<br>

		<button type="submit">Submit</button>
	</form>

</body>

<script src='//static.codepen.io/assets/common/stopExecutionOnTimeout-41c52890748cd7143004e05d3c5f786c66b19939c4500ce446314d1748483e13.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js'></script><script src='//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>

<script type="text/javascript">
	//exporte les données sélectionnées
var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
        $('#toolbar')
    })

		var trBoldBlue = $("table");

	$(trBoldBlue).on("click", "tr", function (){
			$(this).toggleClass("bold-blue");
	});
</script>

<script type="text/javascript">

	function showFullTable() {
		var table = document.getElementById("table");
		var tr = table.getElementsByTagName("tr");
		for (var i = 1; i < tr.length; i++) {
			for (var j = 0; j < tr[0].getElementsByTagName('th').length; j++) {
				tr[i].getElementsByTagName('td')[j].style.display = "";
			}
		}

		for (var i = 0; i < tr[0].getElementsByTagName('th').length; i++) {
			tr[0].getElementsByTagName('th')[i].style.display = "";
		}
	}

	function filtertable(mainObj, special) {

		var table = document.getElementById("table");
		var tr = table.getElementsByTagName("tr");
		var myId = mainObj.id;

		if(special == 4) {

			if(document.getElementById('ms1f').checked) {
				document.getElementById('ms1s1f').checked = true;
				document.getElementById('ms1s2f').checked = true;
				document.getElementById('ms1s3f').checked = true;

				document.getElementById('ms1s1f').disabled = false;
				document.getElementById('ms1s2f').disabled = false;
				document.getElementById('ms1s3f').disabled = false;

				document.getElementById('ms2f').disabled = true;
				document.getElementById('ms2s1f').disabled = true;
				document.getElementById('ms2s2f').disabled = true;
				document.getElementById('ms2s3f').disabled = true;
	
				document.getElementById('ms3f').disabled = true;
				document.getElementById('ms3s1f').disabled = true;
				document.getElementById('ms3s2f').disabled = true;
				document.getElementById('ms3s3f').disabled = true;
			} else {
				showFullTable();
				document.getElementById('ms1s1f').checked = false;
				document.getElementById('ms1s2f').checked = false;
				document.getElementById('ms1s3f').checked = false;

				document.getElementById('ms1s1f').disabled = true;
				document.getElementById('ms1s2f').disabled = true;
				document.getElementById('ms1s3f').disabled = true;

				document.getElementById('ms2f').disabled = false;
				document.getElementById('ms2s1f').disabled = true;
				document.getElementById('ms2s2f').disabled = true;
				document.getElementById('ms2s3f').disabled = true;
	
				document.getElementById('ms3f').disabled = false;
				document.getElementById('ms3s1f').disabled = true;
				document.getElementById('ms3s2f').disabled = true;
				document.getElementById('ms3s3f').disabled = true;	
				return;		
			}
		}

		if(special == 8) {

			if(document.getElementById('ms2f').checked) {
				document.getElementById('ms2s1f').checked = true;
				document.getElementById('ms2s2f').checked = true;
				document.getElementById('ms2s3f').checked = true;

				document.getElementById('ms2s1f').disabled = false;
				document.getElementById('ms2s2f').disabled = false;
				document.getElementById('ms2s3f').disabled = false;

				document.getElementById('ms1f').disabled = true;
				document.getElementById('ms1s1f').disabled = true;
				document.getElementById('ms1s2f').disabled = true;
				document.getElementById('ms1s3f').disabled = true;
	
				document.getElementById('ms3f').disabled = true;
				document.getElementById('ms3s1f').disabled = true;
				document.getElementById('ms3s2f').disabled = true;
				document.getElementById('ms3s3f').disabled = true;
			} else {
				showFullTable();
				document.getElementById('ms2s1f').checked = false;
				document.getElementById('ms2s2f').checked = false;
				document.getElementById('ms2s3f').checked = false;

				document.getElementById('ms2s1f').disabled = true;
				document.getElementById('ms2s2f').disabled = true;
				document.getElementById('ms2s3f').disabled = true;

				document.getElementById('ms1f').disabled = false;
				document.getElementById('ms1s1f').disabled = true;
				document.getElementById('ms1s2f').disabled = true;
				document.getElementById('ms1s3f').disabled = true;
	
				document.getElementById('ms3f').disabled = false;
				document.getElementById('ms3s1f').disabled = true;
				document.getElementById('ms3s2f').disabled = true;
				document.getElementById('ms3s3f').disabled = true;
				return;
			}
		}

		if(special == 12) {

			if(document.getElementById('ms3f').checked) {
				document.getElementById('ms3s1f').checked = true;
				document.getElementById('ms3s2f').checked = true;
				document.getElementById('ms3s3f').checked = true;

				document.getElementById('ms3s1f').disabled = false;
				document.getElementById('ms3s2f').disabled = false;
				document.getElementById('ms3s3f').disabled = false;

				document.getElementById('ms2f').disabled = true;
				document.getElementById('ms2s1f').disabled = true;
				document.getElementById('ms2s2f').disabled = true;
				document.getElementById('ms2s3f').disabled = true;
	
				document.getElementById('ms1f').disabled = true;
				document.getElementById('ms1s1f').disabled = true;
				document.getElementById('ms1s2f').disabled = true;
				document.getElementById('ms1s3f').disabled = true;
			} else {
				showFullTable();
				document.getElementById('ms3s1f').checked = false;
				document.getElementById('ms3s2f').checked = false;
				document.getElementById('ms3s3f').checked = false;

				document.getElementById('ms3s1f').disabled = true;
				document.getElementById('ms3s2f').disabled = true;
				document.getElementById('ms3s3f').disabled = true;

				document.getElementById('ms2f').disabled = false;
				document.getElementById('ms2s1f').disabled = true;
				document.getElementById('ms2s2f').disabled = true;
				document.getElementById('ms2s3f').disabled = true;
	
				document.getElementById('ms1f').disabled = false;
				document.getElementById('ms1s1f').disabled = true;
				document.getElementById('ms1s2f').disabled = true;
				document.getElementById('ms1s3f').disabled = true;
				return;
			}
		}

		var hdri;
		for (var i = 0; i < tr[0].getElementsByTagName('th').length; i++) {
			if(tr[0].getElementsByTagName('th')[i].id.slice(0, -1) == myId.slice(0, -1)) {
				hdri = i;
			}
		}

		console.log(hdri);

		if(!document.getElementById(myId).checked) {

			for (var i = 1; i < tr.length; i++) {
	
				for (var j = 4; j < tr[0].getElementsByTagName('th').length - 1; j++) {
	
					if(j == hdri) {
						tr[i].getElementsByTagName('td')[j].style.display = "none";
					}

					if(special == j) {
						j += 4;
					}
	
				}
			}

			for (var i = 4; i < tr[0].getElementsByTagName('th').length - 1; i++) {
	
				if(i == hdri) {
					tr[0].getElementsByTagName('th')[i].style.display = "none";
				}
	
				if(special == i) {
					i += 4;
				}
	
			}

			return;
		}

		showFullTable();

		for (var i = 1; i < tr.length; i++) {

			if(tr[i].getElementsByTagName('td')[hdri].innerHTML == 'no') {

				for (var j = 0; j < tr[0].getElementsByTagName('th').length; j++) {
					tr[i].getElementsByTagName('td')[j].style.display = "none";
				}

				continue;
			}

			for (var j = 4; j < tr[0].getElementsByTagName('th').length - 1; j++) {

				if(j == hdri) {
					tr[i].getElementsByTagName('td')[j].style.display = "";
				} else {
					tr[i].getElementsByTagName('td')[j].style.display = "none";
				}

				if(special == j) {
					j += 4;
				}

			}
		}

		for (var i = 4; i < tr[0].getElementsByTagName('th').length - 1; i++) {

			if(i == hdri) {
				tr[0].getElementsByTagName('th')[i].style.display = "";
			} else {
				tr[0].getElementsByTagName('th')[i].style.display = "none";
			}

			if(special == i) {
				i += 4;
			}

		}

	}

	$(function(){
		$('select[name="jobOwn"]').change(function(){

			{% for job in allJobs %}
			{% for key, value in job.items() %}

				// console.log($('#jobOwn').val())
				if('{{key}}' == $('#jobOwn').val()) {
					$('#jobProfit').val('{{value}}');
				}

			{% endfor %}
			{% endfor %}
		});
	});

	// ms1

	$(function(){
		$('input[type=radio][name=ms1s1]').change(function(){
			if( $( 'input[name=ms1s1]:checked' ).val() == 'yes' && $( 'input[name=ms1s2]:checked' ).val() == 'yes' && $( 'input[name=ms1s3]:checked' ).val() == 'yes' ) {
	    				document.getElementById('ms1').value = 'yes';
	    			} else {
	    				document.getElementById('ms1').value = 'no';
	    			}
		});
	});

	$(function(){
		$('input[type=radio][name=ms1s2]').change(function(){
			if( $( 'input[name=ms1s1]:checked' ).val() == 'yes' && $( 'input[name=ms1s2]:checked' ).val() == 'yes' && $( 'input[name=ms1s3]:checked' ).val() == 'yes' ) {
	    				document.getElementById('ms1').value = 'yes';
	    			} else {
	    				document.getElementById('ms1').value = 'no';
	    			}
		});
	});

	$(function(){
		$('input[type=radio][name=ms1s3]').change(function(){
			if( $( 'input[name=ms1s1]:checked' ).val() == 'yes' && $( 'input[name=ms1s2]:checked' ).val() == 'yes' && $( 'input[name=ms1s3]:checked' ).val() == 'yes' ) {
	    				document.getElementById('ms1').value = 'yes';
	    			} else {
	    				document.getElementById('ms1').value = 'no';
	    			}
		});
	});

	// ms1 end

	// ms2

	$(function(){
		$('input[type=radio][name=ms2s1]').change(function(){
			if( $( 'input[name=ms2s1]:checked' ).val() == 'yes' && $( 'input[name=ms2s2]:checked' ).val() == 'yes' && $( 'input[name=ms2s3]:checked' ).val() == 'yes' ) {
	    				document.getElementById('ms2').value = 'yes';
	    			} else {
	    				document.getElementById('ms2').value = 'no';
	    			}
		});
	});

	$(function(){
		$('input[type=radio][name=ms2s2]').change(function(){
			if( $( 'input[name=ms2s1]:checked' ).val() == 'yes' && $( 'input[name=ms2s2]:checked' ).val() == 'yes' && $( 'input[name=ms2s3]:checked' ).val() == 'yes' ) {
	    				document.getElementById('ms2').value = 'yes';
	    			} else {
	    				document.getElementById('ms2').value = 'no';
	    			}
		});
	});

	$(function(){
		$('input[type=radio][name=ms2s3]').change(function(){
			if( $( 'input[name=ms2s1]:checked' ).val() == 'yes' && $( 'input[name=ms2s2]:checked' ).val() == 'yes' && $( 'input[name=ms2s3]:checked' ).val() == 'yes' ) {
	    				document.getElementById('ms2').value = 'yes';
	    			} else {
	    				document.getElementById('ms2').value = 'no';
	    			}		});
	});

	// ms2 end

	// ms3

	$(function(){
		$('input[type=radio][name=ms3s1]').change(function(){
			if( $( 'input[name=ms3s1]:checked' ).val() == 'yes' && $( 'input[name=ms3s2]:checked' ).val() == 'yes' && $( 'input[name=ms3s3]:checked' ).val() == 'yes' ) {
	    				document.getElementById('ms3').value = 'yes';
	    			} else {
	    				document.getElementById('ms3').value = 'no';
	    			}
		});
	});

	$(function(){
		$('input[type=radio][name=ms3s2]').change(function(){
			if( $( 'input[name=ms3s1]:checked' ).val() == 'yes' && $( 'input[name=ms3s2]:checked' ).val() == 'yes' && $( 'input[name=ms3s3]:checked' ).val() == 'yes' ) {
	    				document.getElementById('ms3').value = 'yes';
	    			} else {
	    				document.getElementById('ms3').value = 'no';
	    			}
		});
	});

	$(function(){
		$('input[type=radio][name=ms3s3]').change(function(){
			if( $( 'input[name=ms3s1]:checked' ).val() == 'yes' && $( 'input[name=ms3s2]:checked' ).val() == 'yes' && $( 'input[name=ms3s3]:checked' ).val() == 'yes' ) {
	    				document.getElementById('ms3').value = 'yes';
	    			} else {
	    				document.getElementById('ms3').value = 'no';
	    			}
		});
	});

	// ms3 end

</script>

</html>