<!DOCTYPE html>
<html>
<head>
	<title>ASSLPL | Job Owner Database</title>
	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'><link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'><link rel='stylesheet' href='//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>
</head>
<body>

	<h1>Job Owner Database</h1>

	{% if allJobs %}
		<table border="1">
		<tr>
			<th>Sl No</th>
			<th>Job Owner</th>
		</tr>
		{% for job in allJobs %}
		<tr>
		   <td class="serialNumber">{{loop.index0 + 1}}</td>
		   <td class="job">{{job}}</td>
		</tr>
		{% endfor %}
		</table>
	{% endif %}

	<br><br>

	{% if hereAdmin == "yes"%}
	<form action="/jobbelongdb" method="POST">
		<label for="jobBelongEntry">New Job Owner :</label>
		<input id="jobBelongEntry" name="jobBelongEntry" type="text">

		<button type="submit">Submit</button>
	</form>
	{% endif %}

</body>
</html>