<!DOCTYPE html>
<html>
<head>
	<title>ASSLPL | Job Owner Database</title>
	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'><link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'><link rel='stylesheet' href='//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>
</head>
<body>

	<h1>Job Owner Database</h1>

	{% if allJobs %}
		<table border="1">
		<tr>
			<th>Sl No</th>
			<th>Job Owner</th>
			<th>Job Profit Centre</th>
		</tr>
		{% for job in allJobs %}
		<tr>
		   <td class="serialNumber">{{loop.index0 + 1}}</td>
		   {% for key, value in job.items() %}
		   <td class="job">{{key}}</td>
		   <td class="job">{{value}}</td>
		   {% endfor %}
		</tr>
		{% endfor %}
		</table>
	{% endif %}

	<br><br>

	{% if hereAdmin == "yes"%}
	<form action="/jobownerdb" method="POST">
		<label for="jobOwner">New Job Owner :</label>
		<input id="jobOwner" name="jobOwner" type="text">
		<br>
		<label for="jobProfitCentre">New Job Profit Centre :</label>
		
		<select id="jobProfitCentre" name="jobProfitCentre">
			{% for job in jobProfits %}
  			<option value="{{job}}">{{job}}</option>
  			{% endfor %}
  		</select>


		<button type="submit">Submit</button>
	</form>
	{% endif %}

</body>
</html>