<!DOCTYPE html>
<html>
<head>
	<title>JLG | Manage Users</title>
</head>
<body>

	<h1>Manage Users</h1>
	<a href="/">BACK</a>
	<br><br>

<table border="1">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Admin Access</th>
    <th>Shipping 1st Part</th>
    <th>Custom Part</th>
    <th>Dock Part</th>
    <th>Client Delv</th>
    <th>Shipping 2nd Part</th>
    <th>Billing</th>
    <th>Client DB</th>
    <th>Job Number DB</th>
    <th>Job Profit DB</th>
    <th>Job Belonging DB</th>
    <th>Job Owner DB</th>
    <th>DELETE</th>
  </tr>

  {% for user in allUsers %}
  <tr>
    <td>{{user['username']}}</td>
    <td>{{user['email']}}</td>

    {% if user['admin'] == 'yes' %}
    <td>✔ <a href="/adminAPI/cancel/{{myKeys[loop.index0]}}/admin">Revoke</a></td>
    {% else %}
    <td><a href="/adminAPI/{{myKeys[loop.index0]}}/admin">Grant</a></td>
    {% endif %}

    {% if user['job1'] == 'yes' %}
    <td>✔ <a href="/adminAPI/cancel/{{myKeys[loop.index0]}}/job1">Revoke</a></td>
    {% else %}
    <td><a href="/adminAPI/{{myKeys[loop.index0]}}/job1">Grant</a></td>
    {% endif %}

    {% if user['job2'] == 'yes' %}
    <td>✔ <a href="/adminAPI/cancel/{{myKeys[loop.index0]}}/job2">Revoke</a></td>
    {% else %}
    <td><a href="/adminAPI/{{myKeys[loop.index0]}}/job2">Grant</a></td>
    {% endif %}

    {% if user['job3'] == 'yes' %}
    <td>✔ <a href="/adminAPI/cancel/{{myKeys[loop.index0]}}/job3">Revoke</a></td>
    {% else %}
    <td><a href="/adminAPI/{{myKeys[loop.index0]}}/job3">Grant</a></td>
    {% endif %}

    {% if user['job4'] == 'yes' %}
    <td>✔ <a href="/adminAPI/cancel/{{myKeys[loop.index0]}}/job4">Revoke</a></td>
    {% else %}
    <td><a href="/adminAPI/{{myKeys[loop.index0]}}/job4">Grant</a></td>
    {% endif %}

    {% if user['job5'] == 'yes' %}
    <td>✔ <a href="/adminAPI/cancel/{{myKeys[loop.index0]}}/job5">Revoke</a></td>
    {% else %}
    <td><a href="/adminAPI/{{myKeys[loop.index0]}}/job5">Grant</a></td>
    {% endif %}

    {% if user['bill1'] == 'yes' and user['bill2'] == 'yes' %}
    <td>✔ <a href="/adminAPI/billpermission/cancel/{{myKeys[loop.index0]}}">Revoke</a></td>
    {% else %}
    <td><a href="/adminAPI/billpermission/{{myKeys[loop.index0]}}">Grant</a></td>
    {% endif %}

    {% if user['db1'] == 'yes' %}
    <td>✔ <a href="/adminAPI/cancel/{{myKeys[loop.index0]}}/db1">Revoke</a></td>
    {% else %}
    <td><a href="/adminAPI/{{myKeys[loop.index0]}}/db1">Grant</a></td>
    {% endif %}

    {% if user['db2'] == 'yes' %}
    <td>✔ <a href="/adminAPI/cancel/{{myKeys[loop.index0]}}/db2">Revoke</a></td>
    {% else %}
    <td><a href="/adminAPI/{{myKeys[loop.index0]}}/db2">Grant</a></td>
    {% endif %}

    {% if user['db3'] == 'yes' %}
    <td>✔ <a href="/adminAPI/cancel/{{myKeys[loop.index0]}}/db3">Revoke</a></td>
    {% else %}
    <td><a href="/adminAPI/{{myKeys[loop.index0]}}/db3">Grant</a></td>
    {% endif %}

    {% if user['db4'] == 'yes' %}
    <td>✔ <a href="/adminAPI/cancel/{{myKeys[loop.index0]}}/db4">Revoke</a></td>
    {% else %}
    <td><a href="/adminAPI/{{myKeys[loop.index0]}}/db4">Grant</a></td>
    {% endif %}

    {% if user['db5'] == 'yes' %}
    <td>✔ <a href="/adminAPI/cancel/{{myKeys[loop.index0]}}/db5">Revoke</a></td>
    {% else %}
    <td><a href="/adminAPI/{{myKeys[loop.index0]}}/db5">Grant</a></td>
    {% endif %}

    <td><a href="/adminAPI/delete/{{myKeys[loop.index0]}}">✖</a></td>

  </tr>
  {% endfor %}

</table>

<center><h4>REMEMBER : User permissions get updated only when they re-login.</h4></center>

</body>
</html>