<!DOCTYPE html>
<html>
<head>
	<title>ASSLPL | Job Number Database</title>

	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'><link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'><link rel='stylesheet' href='//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>

</head>
<body>

		<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
				  <div class="navbar-header">
					<a class="navbar-brand" href="/">ASSLPL Operations</a>
				  </div>
				  <ul class="nav navbar-nav">
					<li><a>→</a></li>
      				<li><a href="/jobnodb">Job Number</a></li>
      				<li><a>→</a></li>
					<li class="active"><a>New Job Entry</a></li>
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
					  <li><a>
					  {% if userx == '' %}
					  Not Logged In
					  {% else %}
					  {{userx}}
					  {% endif %}
				  </a></li>
				  </ul>
				</div>
			  </nav> 
			  
			  <br><br><br><br>


	<div class="container">

		<div class="well">
			<center>



						<form action="/jobnodb/new" method="POST">
					

						<div class="row">
							<div class="col-sm-6">
								<label for="jobType">Job Type :</label>
							</div>

							<div class="col-sm-6">
								<select id="jobType" name="jobType" class="form-control" required="true">
									<option disabled selected value> -- select an option -- </option>
									<option value="Import">Import</option>
									<option value="Export">Export</option>
									<option value="Re-Import">Re-Import</option>
									<option value="Re-Export">Re-Export</option>
								</select>
							</div>
						</div>
					
							<br>
					
						<div class="row">
							<div class="col-sm-6">
								<label for="jobno1">Job No :</label>
							</div>

							<div class="col-sm-6">
								<input id="jobno1" name="jobno1" type="text" class="form-control" required="true">
							</div>
						</div>

							<br>

						<div class="row">
							<div class="col-sm-6">					
								<label for="jobopen">Job Open Date :</label>
							</div>

							<div class="col-sm-6">	
								<input type="date" id="jobopenFake" name="jobopenFake" onchange="correctDate()" class="form-control" required="true">
							</div>
						</div>

							<br>
					
							<input id="jobopen" name="jobopen" style="display: none" class="form-control">
					
						<div class="row">
							<div class="col-sm-6">	
								<label for="clientname">Client Name :</label>
							</div>

							<div class="col-sm-6">	
								<select id="clientname" name="clientname" class="form-control" required="true">
									<option disabled selected value> -- select an option -- </option>
									{% for client in allClients %}
					  				<option value="{{client['clientName']}}">{{client['clientname']}}</option>
					  				{% endfor %}
					  			</select>
					  		</div>
					  	</div>

							<br>

						<div class="row">
							<div class="col-sm-6">
							</div>

							<div class="col-sm-6">
								<input id="clientxname" name="clientxname" class="btn btn-default">
								of
								<input id="clientOf" name="clientOf" class="btn btn-default">

							</div>
						</div>
							
										<br>
					
						<div class="row">
							<div class="col-sm-6">
								<label for="commodity">Commodity :</label>
							</div>

							<div class="col-sm-6">
								<input id="commodity" name="commodity" type="text" class="form-control" required="true">
							</div>
						</div>

						<br>

					
						<div class="row">
							<div class="col-sm-6">
								<label for="packageq">Package Quantity :</label>
							</div>

							<div class="col-sm-6">
								<input id="packageq" name="packageq" type="text" class="form-control" required="true">
							</div>
						</div>

						<br>
					
							<button class="btn btn-default" type="submit">Submit</button>
						</form>

				</center>
		</div>
	</div>


<script src='//static.codepen.io/assets/common/stopExecutionOnTimeout-41c52890748cd7143004e05d3c5f786c66b19939c4500ce446314d1748483e13.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js'></script><script src='//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>

<script type="text/javascript" src="https://fengyuanchen.github.io/datepicker/js/datepicker.js"></script>
<script type="text/javascript" src="https://fengyuanchen.github.io/datepicker/js/datepicker.en-US.js"></script>
<script type="text/javascript" src="https://fengyuanchen.github.io/datepicker/js/main.js"></script>

<script type="text/javascript">


function correctDate() {
	document.getElementById("jobopen").value = document.getElementById("jobopenFake").value.split("-").reverse().join("/");
}
	
	$(function(){
		$('select[name="clientname"]').change(function(){

			var foo = $('#clientname').find(":selected").text();
			console.log(foo);

			{% for client in allClients %}

				if('{{client['clientname']}}' == foo) {
					$('#clientxname').val(foo);
					$('#clientOf').val('{{client['jobBelong']}}');
				}

			{% endfor %}

		});
	});

</script>

</body>
</html>