<!DOCTYPE html>
<html>
<head>
	<title>JLG | Job Number Database</title>

<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'><link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'><link rel='stylesheet' href='//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>
<style class="cp-pen-styles"></style>
<link rel="stylesheet" href="https://fengyuanchen.github.io/datepicker/css/datepicker.css">

</head>
<body>

	<h1>JLG | New Job Entry</h1>


	<form action="/jobnodb/new" method="POST">

		<label for="jobno1">JayLGCPL Job No :</label>
		<input id="jobno1" name="jobno1" type="text">
		<br>

		<label for="jobno2">JLG&Co Job No :</label>
		<input id="jobno2" name="jobno2" type="text">
		<br>

		<label for="jobopen">Job Open Date :</label>
		<dd><div class="docs-datepicker">
          <div class="input-group">
            <input type="text" class="form-control docs-date" id="jobopen" name="jobopen" placeholder="Job Open Date">
            <div class="input-group-append">
            </div>
          </div>
          <div class="docs-datepicker-container"></div>
        </div></dd>
		<br>

		<label for="clientname">Client Name :</label>
		<select id="clientname" name="clientname">
			<option disabled selected value> -- select an option -- </option>
			{% for client in allClients %}
  			<option value="{{client['clientName']}}">{{client['clientname']}}</option>
  			{% endfor %}
  		</select>
		<br>

		<label for="jobBelong">Job Belongs To :</label>
		<input type="text" id="jobBelong" name="jobBelong" readonly="readonly">

  		<br>

		<label for="jobOwn">Job Owner :</label>
		<input type="text" id="jobOwn" name="jobOwn" readonly="readonly">

  		<br>

		<label for="jobProfit">Job Profit Centre :</label>
  		<input type="text" id="jobProfit" name="jobProfit" readonly="readonly">
  		<br>

		<label for="packageq">Package Quantity :</label>
		<input id="packageq" name="packageq" type="text">
		<br>

		<label for="ncontainer">No. of Cont. :</label>
		<input id="ncontainer" name="ncontainer" type="text">
		<br>

		<label for="cargotype">Cargo Type :</label>
		<input id="cargotype" name="cargotype" type="text">
		<br>

		<label for="commodity">Commodity :</label>
		<input id="commodity" name="commodity" type="text">
		<br>

		<label for="invoice">Invoice & Bill of Lading Details :</label>
		<input id="invoice" name="invoice" type="text">
		<br>

		<button type="submit">Submit</button>
	</form>


<script src='//static.codepen.io/assets/common/stopExecutionOnTimeout-41c52890748cd7143004e05d3c5f786c66b19939c4500ce446314d1748483e13.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js'></script><script src='//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>

<script type="text/javascript" src="https://fengyuanchen.github.io/datepicker/js/datepicker.js"></script>
<script type="text/javascript" src="https://fengyuanchen.github.io/datepicker/js/datepicker.en-US.js"></script>
<script type="text/javascript" src="https://fengyuanchen.github.io/datepicker/js/main.js"></script>

<script type="text/javascript">
	
	$(function(){
		$('select[name="clientname"]').change(function(){

			{% for client in allClients %}

				if('{{client['clientName']}}' == $('#clientname').val()) {
					$('#jobBelong').val('{{client['jobBelong']}}');
					$('#jobOwn').val('{{client['jobOwn']}}');
					$('#jobProfit').val('{{client['jobProfit']}}');
				}

			{% endfor %}

		});
	});

</script>

</body>
</html>